# Entornos virtuales
.venv/
venv/
ENV/
env/

# Archivos de caché de Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

# Configuraciones de VS Code (opcional)
.vscode/

# Archivos de resultados
Resultados_Fase4_PayZone/
Resultados_Fase5_HCPV/